
<div id="displayContainer">
    {{#each albums}}
      <div id="displayInnerContainer">
        <div id="imgContainer">
          {{#with images.[0]}}
          <img src="{{url}}" alt="">
          {{/with}}
        </div>  
        <div id="greyContainer">
          <h3>{{name}}</h3>
          <a href="/tracks/{{id}}">View Tracks</a>
        </div>
      </div>
    {{/each}}
</div>