
<div id="artistContainer">
    {{#each artists}}
      <div id="artistsInnerContainer">
        <div id="greyContainer">
          <h3>{{name}}</h3>
          <a href="/albums/{{id}}">View Albums</a>
          {{#with images.[0]}}
          <img src="{{url}}" alt="">
          {{/with}}
        </div>
      </div>
    {{/each}}
</div>

