    <div id="homeBackground">
        <div id="homeContainer">
        <form action="/artistSearch" method="GET">
            <input type="text" name="artist" placeholder="Search artist..." id="searchInput">
            <button type="submit" id="searchBtn">Search for an Artist</button>
        </form>
        </div>
    </div>